.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: url("../img/bg-back-mobile.jpg") no-repeat 50% 0;
}
@media (min-width: 700px) {
  .page-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
    background: url("../img/bg-tablet@1x.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: auto;
    background: url("../img/bg-desktop.jpg") no-repeat 50% 0;
    background-size: 2560px auto;
  }
}
.user-nav {
  background: rgba(0, 0, 0, 0.3);
}
.user-nav__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 22px 20px;
}
.user-nav__wrapper::after {
  content: "";
  position: absolute;
  width: 256px;
  height: 286px;
  top: 173px;
  left: 0;
  background: url("../img/iphone-hand-mobile.png") no-repeat;
}
.user-nav__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
.user-nav__item a {
  color: #ffffff;
  text-decoration: none;
}
.user-nav__burger {
  width: 50px;
  height: 24px;
  background: url("../img/icon-menu-burger.svg") no-repeat;
  cursor: pointer;
  border: none;
}
@media (min-width: 700px) {
  .user-nav__wrapper {
    margin: 0 auto;
    width: 620px;
    padding: 32px 40px 43px 40px;
  }
  .user-nav__wrapper::after {
    width: 700px;
    height: 545px;
    top: 184px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
  }
  .user-nav__burger {
    margin-top: 16px;
  }
}
@media (min-width: 1200px) {
  .user-nav__wrapper {
    width: 940px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 27px;
  }
  .user-nav__wrapper::after {
    width: 1050px;
    height: 645px;
    top: 208px;
    left: 146px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
  }
  .user-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 620px;
    margin-top: 17px;
  }
  .user-nav__burger {
    display: none;
  }
}
.page-logo {
  width: 75px;
  height: 22px;
  background: url("../img/logo-pink-white-mobile.svg") no-repeat;
}
@media (min-width: 700px) {
  .page-logo {
    width: 147px;
    height: 40px;
    background: url("../img/logo-pink-tablet.svg") no-repeat;
  }
}
@media (min-width: 1200px) {
  .page-logo {
    background: url("../img/logo-desktop.svg") no-repeat;
  }
}
.user-download {
  margin-top: 391px;
  background: #1d2631;
}
.user-download__wrapper {
  width: 280px;
  padding: 46px 20px 10px 20px;
  margin: 0 auto;
  text-align: center;
}
.user-download__slogan {
  display: none;
}
.user-download__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  border: 3px solid #ffffff;
  padding: 12px 35px;
}
.user-download__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  padding: 0 20px;
}
.user-download__icon {
  margin-top: 20px;
}
.user-download__icon--apple {
  width: 47px;
  height: 56px;
  background: url("../img/logo-apple.svg") no-repeat;
}
.user-download__icon--android {
  background: url("../img/logo-android.svg") no-repeat;
  width: 43px;
  height: 47px;
  margin-top: 28px;
}
.user-download__icon--microsoft {
  background: url("../img/logo-microsoft.svg") no-repeat;
  width: 44px;
  height: 41px;
  margin-top: 32px;
}
.user-download__descr {
  margin: 22px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
/* Выше для Mobile */
@media (min-width: 700px) {
  .user-download {
    margin-top: 0px;
    padding-bottom: 75px;
    background: transparent;
  }
  .user-download__wrapper {
    position: relative;
    z-index: 5;
    width: 620px;
    padding: 95px 40px 10px 40px;
    margin: 0 auto;
    text-align: left;
  }
  .user-download__slogan {
    text-align: center;
    display: block;
    margin-left: 50px;
    margin-bottom: 49px;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
    font-weight: 300;
    width: 200px;
  }
  .user-download__btn {
    padding-right: 45px;
    padding-left: 45px;
  }
  .user-download__icons {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 45px 0 0 45px;
  }
  .user-download__icon {
    margin-right: 37px;
  }
  .user-download__descr {
    width: 300px;
    margin-top: 36px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .user-download__wrapper {
    width: 940px;
    padding: 108px 130px 25px 130px;
  }
  .user-download__slogan {
    margin-left: 30px;
    margin-bottom: 67px;
    font-size: 50px;
    line-height: 60px;
    width: 240px;
  }
  .user-download__btn {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 21px;
  }
  .user-download__icons {
    margin-top: 63px;
  }
  .user-download__descr {
    margin-top: 55px;
  }
}
.main-content {
  width: 100%;
}
.adventures__wrapper {
  width: 320px;
  padding: 40px 20px 0 20px;
  margin: 0 auto;
  text-align: center;
}
.content-wrapper {
  position: relative;
  background: url("../img/bg-triangle-white.svg") no-repeat, #f2f2f2;
  background-position: 0 top;
  background-size: 100% auto;
  width: 100%;
}
.adventures__title {
  display: block;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}
.adventures__items {
  width: 100&;
  position: relative;
  margin-top: -7px;
  padding-top: 50px;
  padding-bottom: 269px;
}
.adventures__items::after {
  position: absolute;
  content: "";
  bottom: -38px;
  left: 82px;
  width: 157px;
  height: 320px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
}
.adventures__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.adventures__item:last-of-type {
  padding-bottom: 16px;
}
.adventures__item-title {
  line-height: 24px;
}
.adventures__item-descr {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}
.effect {
  display: none;
}
@media (min-width: 700px) {
  .adventures__wrapper {
    width: 620px;
    padding: 53px 40px 0 40px;
    margin: 0 auto;
    text-align: center;
  }
  .content-wrapper {
    margin-top: 45px;
  }
  .adventures__title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .adventures__title:last-child {
    width: 500px;
    margin-left: 60px;
  }
  .adventures__items {
    margin-top: -22px;
    margin-left: 280px;
    padding-bottom: 0;
  }
  .adventures__items::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -280px;
    width: 268px;
    height: 481px;
    background: url("../img/iphone-screen-tablet-2@1x.png") no-repeat;
  }
  .adventures__item {
    margin-bottom: 32px;
    text-align: left;
  }
  .adventures__item:last-child {
    margin-bottom: 0;
  }
  .adventures__item-title {
    font-weight: 700;
  }
  .effect {
    display: block;
    background: #ffffff;
  }
  .effect__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 97px 40px 100px 40px;
    background: url("../img/timer.svg") no-repeat 10px 50px;
    background-size: 300px 300px;
  }
  .effect__item-title {
    display: inline-block;
    width: 168px;
    font-size: 30px;
    margin-left: 310px;
  }
  .effect__item-descr {
    margin-bottom: 0;
    margin-left: 310px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
  }
  .effect__link {
    display: block;
    margin-left: 310px;
    margin-top: 13px;
    font-size: 14px;
    color: #d22856;
  }
}
@media (min-width: 1200px) {
  .adventures__wrapper {
    width: 940px;
    padding-top: 63px;
    padding-left: 130px;
    padding-right: 130px;
  }
  .adventures__wrapper:last-child {
    padding-top: 56px;
  }
  .adventures__title {
    font-size: 50px;
  }
  .adventures__title:last-child {
    width: 700px;
    margin-left: 120px;
    margin-top: 4px;
  }
  .adventures__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    padding-top: 0;
  }
  .adventures__items::after {
    background: none;
  }
  .adventures__item {
    margin-bottom: 32px;
    padding-top: 360px;
    text-align: center;
    color: #283645;
  }
  .adventures__item:first-of-type {
    background: url("../img/iphone-screen-desktop-1@1x.png") no-repeat;
  }
  .adventures__item:nth-of-type(2) {
    background: url("../img/iphone-screen-desktop-2@1x.png") no-repeat;
  }
  .adventures__item:last-of-type {
    background: url("../img/iphone-screen-desktop-3@1x.png") no-repeat;
  }
  .adventures__item-title {
    font-size: 30px;
  }
  .adventures__item-descr {
    margin-top: 28px;
    font-size: 18px;
    line-height: 30px;
  }
  .effect {
    background: #f1f1f1;
  }
  .effect__item-title {
    margin-left: 365px;
    width: 400px;
  }
  .effect__item-descr {
    width: 580px;
    margin-left: 365px;
    margin-top: 23px;
    line-height: 30px;
    font-size: 18px;
  }
  .effect__link {
    font-size: 18px;
    margin-left: 365px;
    margin-top: 35px;
  }
  .effect__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 127px 130px 116px 130px;
    background-position: 105px 35px;
    background-size: 350px 350px;
  }
}
.feedback__wrapper {
  position: relative;
  width: 280px;
  padding: 42px 20px 73px 20px;
  margin: 0 auto;
  text-align: center;
}
.feedback__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background: #ffffff;
}
.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback__name {
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.feedback__text {
  margin: 0;
  margin-top: 14px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.feedback__info {
  display: none;
  color: #283645;
}
.toogle {
  position: absolute;
  left: 128px;
  bottom: 25px;
}
.toogle__btn {
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background: #bec2c7;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.toogle__btn:active {
  border: 3px solid black;
}
.feedback__arrow {
  display: none;
}
@media (min-width: 700px) {
  .feedback__wrapper {
    width: 620px;
    padding: 10px 40px 68px 40px;
  }
  .feedback__wrapper::before {
    display: none;
  }
  .feedback__text {
    margin-top: 18px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 18px;
  }
  .feedback__name {
    margin-top: 34px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 20px;
  }
  .feedback__info {
    display: block;
    margin-top: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 14px;
  }
  .toogle {
    left: 320px;
    bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .feedback__wrapper {
    background: url("../img/quotes.svg") no-repeat center 75px;
    width: 940px;
    padding: 170px 130px 8px 130px;
  }
  .feedback__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback__text {
    width: 700px;
    font-size: 18px;
  }
  .feedback__name {
    font-size: 24px;
  }
  .feedback__info {
    display: block;
    margin-top: 7px;
    font-size: 18px;
  }
  .toogle {
    display: none;
  }
  .feedback__arrow {
    position: absolute;
    display: block;
    width: 22px;
    height: 41px;
    cursor: pointer;
    border: none;
  }
  .feedback__arrow--left {
    top: 50%;
    background: url("../img/left-arrow.png") no-repeat;
  }
  .feedback__arrow--right {
    top: 50%;
    right: 130px;
    background: url("../img/right-arrow.png") no-repeat;
  }
}
.price {
  background: url("../img/bg-triangle-white.svg") no-repeat top, #f1f1f1;
  background-size: 100% auto;
}
.price__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 100px 20px 95px 20px;
  overflow: hidden;
}
.price__table {
  margin-left: -276px;
  margin-right: -276px;
}
.price__controlers {
  bottom: 45px;
}
.price__header {
  position: relative;
  width: 276px;
  padding-top: 18px;
  padding-bottom: 22px;
  border: 2px solid #f1f1f1;
  background: #283645;
}
.price__header--hidden {
  display: none;
}
.price__hidden {
  display: none;
}
.price__header--hit::before {
  position: absolute;
  content: " ";
  top: 0;
  left: -2px;
  width: 74px;
  height: 73px;
  background: url("../img/hit.png") no-repeat;
}
.price__name {
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.price__price {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
}
.price__smile,
.price__comments,
.price__filter {
  display: block;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}
.price__table {
  border-collapse: collapse;
}
.price__table td {
  border: 2px solid #f1f1f1;
}
.price__base td {
  background: url("../img/icon-yes.svg") no-repeat 94% 50%, #ffffff;
}
.price__standart td {
  background: url("../img/icon-yes.svg") no-repeat 94% 50%, #ffffff;
}
.price__standart td:nth-child(2) {
  background: url("../img/icon-no.svg") no-repeat 94% 50%, #ffffff;
}
.price__unlim td {
  background: url("../img/icon-no.svg") no-repeat 94% 50%, #ffffff;
}
.price__unlim td:last-child {
  background: url("../img/icon-yes.svg") no-repeat 94% 50%, #ffffff;
}
@media (min-width: 700px) {
  .price__wrapper {
    width: 620px;
    padding: 93px 40px 68px 40px;
  }
  .price__controlers {
    display: none;
  }
  .price__base .price__hidden,
  .price__unlim .price__hidden {
    background-image: none;
  }
  .price .price__hidden {
    display: block;
    padding: 14px 20px;
    font-size: 14px;
    background-image: none;
    border: 1px solid #f1f1f1;
    color: #283645;
  }
  .price__table {
    margin: 0 auto;
  }
  .price__header {
    position: relative;
    width: 155px;
    padding-top: 10px;
    padding-bottom: 17px;
    background: #283645;
  }
  .price__header--hidden {
    display: block;
    background: transparent;
  }
  .price__name {
    font-size: 16px;
  }
  .price__price {
    font-size: 18px;
  }
  .price__comments--hidden,
  .price__smile--hidden,
  .price__filter--hidden {
    padding: 0;
    visibility: hidden;
  }
  .price__standart td {
    background-position: 50% 50%;
  }
  .price__standart td:first-child {
    background-image: none;
  }
  .price__standart td:nth-child(2) {
    background-position: 50% 50%;
  }
  .price__base td {
    background-position: 50% 50%;
  }
  .price__base td:last-child {
    background-position: 50% 50%;
  }
  .price__unlim td {
    background-position: 50% 50%;
  }
  .price__unlim td:last-child {
    background-position: 50% 50%;
  }
}
@media (min-width: 1200px) {
  .price__wrapper {
    width: 940px;
    padding: 185px 130px 90px 130px;
  }
  .price__header {
    width: 230px;
    padding-top: 17px;
    padding-bottom: 22px;
  }
  .price__smile,
  .price__comments,
  .price__filter {
    display: block;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #283645;
  }
  .price .price__hidden {
    display: block;
    padding: 20px;
    font-size: 18px;
    background-image: none;
    border: 1px solid #f1f1f1;
    color: #283645;
  }
  .price__name {
    font-size: 18px;
  }
  .price__price {
    font-size: 24px;
  }
}
.contacts__wrapper {
  width: 280px;
  padding: 42px 20px 0 20px;
  margin: 0 auto;
  color: #283645;
  text-align: center;
}
.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
.contacts__header {
  display: block;
  margin-top: 33px;
}
.contacts__link {
  display: block;
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #d22856;
}
@media (min-width: 700px) {
  .contacts__wrapper {
    width: 620px;
    padding: 48px 40px 30px 40px;
  }
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 13px;
  }
  .contacts__title {
    display: block;
    line-height: 47px;
    font-size: 40px;
  }
  .contacts__visit-us {
    margin: auto;
    margin-top: 14px;
  }
  .contacts__call-us {
    margin-left: 46px;
    margin-right: 100px;
  }
  .contacts__header {
    display: block;
    margin-bottom: 7px;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    width: 940px;
    padding: 65px 130px 20px 130px;
  }
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 25px;
  }
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }
  .contacts__call-us {
    margin-left: 50px;
    margin-right: 0;
  }
  .contacts__visit-us {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 250px;
    margin: 0 75px 0 92px;
  }
  .contacts__write-us {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__header {
    margin-bottom: 27px;
  }
}
.map {
  outline: 1px solid blue;
  background: #ccccff;
  width: 100%;
  height: 200px;
}
@media (min-width: 700px) {
  .map {
    height: 380px;
  }
}
@media (min-width: 1200px) {
  .map {
    height: 500px;
  }
}
.main-footer {
  display: none;
  outline: 1px solid red;
  background: #ffcccc;
}
.main-footer__wrapper {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  outline: 1px solid green;
  background: #4dff4d;
}
.main-footer__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-footer__text {
  margin-top: 18px;
}
.main-footer__academy {
  width: 42px;
  height: 49px;
  margin-top: 11px;
}
@media (min-width: 700px) {
  .main-footer {
    display: block;
  }
  .main-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 620px;
    padding: 40px;
  }
  .main-footer__socials {
    margin-left: 76px;
    margin-top: 4px;
  }
  .main-footer__authors {
    margin-left: 58px;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    width: 940px;
    padding: 68px 130px 70px 130px;
  }
  .main-footer__socials {
    margin-left: 234px;
  }
  .main-footer__authors {
    margin-left: 215px;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}
.social__btn {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
}
.form__name,
.form__wrapper,
.form__contacts,
.form__emotions {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  outline: 1px solid red;
  background: #ffcccc;
}
@media (min-width: 700px) {
  .page-form {
    width: 620px;
    padding: 0 40px 0 40px;
    margin: 0 auto;
    outline: 1px solid red;
    background: #ffcccc;
  }
}
@media (min-width: 1200px) {
  .page-form {
    width: 940px;
    padding: 0 130px 0 130px;
    margin: 0 auto;
    outline: 1px solid red;
    background: #ffcccc;
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
