.page-logo {
  width: 75px;
  height: 22px;
  background: url("../img/logo-pink-white-mobile.svg") no-repeat;
}

.main-footer__logo {
  display: block;
  margin-left: 65px;
}
@media @tablet-width {
  .page-logo {
    width: 147px;
    height: 40px;
    background: url("../img/logo-pink-tablet.svg") no-repeat;
  }
}

@media @desktop-width {
  .page-logo {
    background: url("../img/logo-desktop.svg") no-repeat;
  }
}

